<% content_for :no_user do %>
    <br>
    <div class="form-container">
        <a href="/"><h1 id="logo-font">Clonestagram</h1></a>

        <% if flash[:error].present? %>
            <h2><%= flash[:error] %></h2>
        <% end %>

        <%= form_tag login_path do %>
            <%= email_field_tag :email, nil, :class => 'form-control', :placeholder => 'email'%>

            <%= password_field_tag :password, nil, :class => 'form-control', :placeholder => 'Password'%>

            <%= submit_tag "Log in", :class => 'btn btn-success btn-lg' %>
            <br>
            <br>
        <% end %>

    </div>

    <div class="form-container">
        <p>Don't have an account?<a href="/users/new"><b>Sign up</b></a></p>
    </div>
<% end %>