<div>
    <% Photo.all.each do |photo| %>
        
        <div class="post-header">
            <div class="inline">
                <% if User.find(photo.user_id).profile_picture.present? %>
                <img src="<%= User.find(photo.user_id).profile_picture %>" alt="profile picture" class="thumb-profile-pic">
            <% else %>
                <img src="/assets/default_profile_pic.png" alt="profile picture" class="thumb-profile-pic">
            <% end %>
            </div>
            <div class="inline">
                <h2><%= link_to User.find(photo.user_id).username, user_path(User.find(photo.user_id)) %></h2>
            </div>
        </div>

        <div><%= image_tag(photo.image, :class => 'thumb') %></div>
        <div>
            <ul>
                <li>
                <h3 class="inline">
                <%= link_to User.find(photo.user_id).username, user_path(User.find(photo.user_id)) %>
                </h3>
                <p class="inline">
                <%= photo.caption %>
                </p>
                </li>
            </ul>
        </div>
        
        
    <% end %>
</div>


<% content_for :no_user do %>
  <div>
    You created multiple yield blocks!
  </div>
<% end %>