<!DOCTYPE html>
<html>
  <head>
    <title>Clonestagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= cloudinary_ %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <% if @current_user.present? %>
            <%= yield %>
          <% else %>
            <%= yield(:no_user) %>
          <% end %>
      <footer>
        <nav>
            <% if @current_user.present? %>
              <%# <% if @current_user.admin? %>
                <%# <%= link_to "All users", users_path %>
              <%# <% end %>
              <%# <%= link_to "New mixtape", new_mixtape_path %>
              <%= link_to "Log out #{ @current_user.email }", login_path, :method => :delete %>
            <% else %>
              <%# <%= link_to "Sign up!", new_user_path %>
              <%# <%= link_to "Sign in", login_path %>
            <% end %>
        </nav>
      </footer>
    </div>

  </body>
</html>
