<!DOCTYPE html>
<html>
  <head>
    <title>Clonestagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= cloudinary_ %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <% if @current_user.present? %>
            <a href="/"><h1 id="logo-font">Clonestagram</h1></a>
            <nav>
              <%=  link_to "Profile", user_path(@current_user) %>
              <%=  link_to "Settings", edit_user_path(@current_user) %>
            </nav>
            <%= yield %>
          <% else %>
            <%= yield(:no_user) %>
          <% end %>
      <footer>
        <nav>
              <%= link_to "Log out #{ @current_user.email }", login_path, :method => :delete if @current_user.present? %>
        </nav>
      </footer>
    </div>

  </body>
</html>
